.caretOff::after {
    display: none;
}

.customDropdownToggle {
    position: relative;
}

.customArrow {
    position: relative;
    left: -15px; /* Adjust this value to move the arrow to the left */
    top: 10px;  /* Adjust this value to move the arrow down */
}
