:global(.swiper-button-next), :global(.swiper-button-prev) {
    filter: invert(100%) brightness(0);
}

:global(.swiper-button-next) {
    top: 200px;
}

:global(.swiper-button-prev) {
    top: 200px;
}